apiVersion: apps/v1
kind: Deployment
metadata:
  name: rolling-app
spec: 
  replicas: 3
  strategy:
    type: RollingUpdate 
  selector:
    matchLabels: 
      app: rolling
  template:
    metadata: 
      labels:
        app: rolling
    spec:
      containers:
      - name: app
        image: nginx:1.25
